<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-content">
      <p>
        &copy; <span id="currentYear"></span> {{ currentYear }} | Developed and
        Designed by Vishnu teja.
      </p>
      <div class="footer-icons">
        <a
          href="https://www.linkedin.com/in/rayalacheruvu-vishnuteja"
          target="_blank"
          class="a-green"
        >
          <i class="fab fa-linkedin"></i>
        </a>
        <a
          href="https://github.com/vishnu143-Ravan"
          target="_blank"
          class="a-green"
        >
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:vishnuteja0802@gmail.com" class="a-green">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
