<div class="align-items-center default-container">
  <div class="col-lg-8">
    <div class="text-left">
      <h1 class="home-title">
        Building modern web apps with the power of Angular, and Node.js, and
        .Net.
      </h1>
      <h2 class="home-author">Vishnuteja Rayalacheruvu,</h2>
      <h3 class="home-author">
        <span class id="dynamic-text">{{ dynamicText }}</span>
      </h3>

      <blockquote>
        I'm a dedicated software Programmer with 2.5 years of professional
        experience in building scalable and high-performance applications. I
        leverage my strong technical skills, real-world project exposure, and
        fluent English communication to deliver clean, accessible, and efficient
        software solutions.
      </blockquote>
      <button>
        <a routerLink="/portfolio" class="a-green"> > Check Portfolio </a>
      </button>
    </div>
  </div>
</div>
